/* .costum{
padding-right: 10%;
padding-left:10%;
padding-top: 5%;
padding-bottom: 10%;
} */

    @media only screen and (max-width: 600px) {
        .w {
          width: 200px;
          height: 300px;
        }
      }
      @media (max-width: 768px) {
		.Mcss{
		position: relative;
		}

	  }
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	opacity: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show.md-effect-1 .md-content {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}


